*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #5F6F52;
}
.container{
    background-color: #FEFAE0;
    padding: 2rem;
    border-radius: 1rem;
    height: 55vh;
    width: 50vh;
}
form{
    margin: 2rem 0 1rem 0;
}
form input , select , button{
    width: 100%;
    border: none;
    outline: none;
    border-radius: 0.8rem;
}
form input{
    height: 3rem;
    font-size: 1rem;
    padding: 0 0.7rem;
    border: 1px solid #A9B388;
}
.dropdown{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem 0;
}
.select-container img{
    max-width: 2rem;
}
.select-container{
    display: flex;
    width: 5.5rem;
    border: 1px solid #A9B388;
    background-color: white;
    justify-content: center;
    align-items: center;
    border-radius: 0.4rem;
    padding: 0 0.2rem;
}
i{
    font-size: 1.5rem;
    margin-top: 1rem;
}
.msg{
    margin: 2rem 0;
    font-size: 1.2rem;
}
form button{
    height: 3rem;
    background-color: #B99470;
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
}